.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;;
}
.logo{
    width:90px;
}
.navItems > ul {
    display:flex;
    list-style-type: none;
    font-size: 20px;
    padding: 0px 100px 0px 0px;
}
.navItems > ul > li {
    margin:10px;
    padding:10px;
}
.Res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-cards{
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: #f0f0f0;
    cursor: pointer;
}
.res-cards:hover{
border:1px solid black;
}

.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}